# dependencies
node_modules/
.idea
.vscode
.project.env
.env
.expo/
/nbproject
.DS_Store
.DS_Store?
*.~lock*
/actual.iml
app/.cache/
app/.expo/
app/dist/
app/archeon/__generated__/
app/archeon/.expo/
app/archeon/dist/
app/archeon/bin/
app/archeon/android/
app/archeon/ios/
app/archeon/lib/
app/web/build/
app/web/dist/
node_modules
yarn-error.log
app/web/yarn-error.log
app/common/yarn-error.log
app/archeon/yarn-error.log
app/web/src/react-app-env.d.ts
build/terraform/.terraform/
build/terraform/terraform.tfstate.d/
build/terraform/.terraform.lock.hcl
app/coverage
app/**/coverage
.history
app/.yarn/*
!app/.yarn/patches
!app/.yarn/plugins
!app/.yarn/releases
!app/.yarn/sdks
!app/.yarn/versions
*.code-workspace
