version: '3.8'

services:
  postgres-archeon:
    container_name: postgres-archeon
    image: ankane/pgvector:latest
    restart: always
    environment:
      - POSTGRES_USER={{ vault_db_user }}
      - POSTGRES_PASSWORD={{ vault_db_password }}
      - POSTGRES_DB={{ vault_db_name }}
    ports:
      - "0.0.0.0:5432:5432"
    volumes:
      - postgres-archeon-storage:/var/lib/postgresql/data/
      - ./init-scripts:/docker-entrypoint-initdb.d/
    networks:
      - archeon-network
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "{{ vault_db_user }}", "-d", "{{ vault_db_name }}"]
      interval: 10s
      timeout: 3s
      retries: 3
      start_period: 10s

  redis-archeon:
    container_name: redis-archeon
    image: redis:alpine
    restart: always
    ports:
      - "0.0.0.0:6379:6379"
    volumes:
      - redis-archeon-storage:/data
    command: redis-server --appendonly yes --requirepass {{ vault_redis_password }}
    networks:
      - archeon-network
    healthcheck:
      test: ["CMD", "redis-cli", "--no-auth-warning", "-a", "{{ vault_redis_password }}", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3

networks:
  archeon-network:
    driver: bridge
    name: archeon-network

volumes:
  postgres-archeon-storage:
    name: archeon-postgres-data
  redis-archeon-storage:
    name: archeon-redis-data
